---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';

const title = 'We are Mantra';
---

<Layout {title}>
	<Header />

	<div id="main">
		<Projects />
	</div>

	<Footer />
</Layout>
