---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import PortfolioGrid from '../components/PortfolioGrid.astro';

const title = 'We are Mantra Design Studio | Our Projects';
const filter = Astro.url.searchParams.get('filter') ?? "All";
---

<Layout {title}>
	<Header />

	<div id="main">
		<h1>Portfolio</h1>
  		<PortfolioGrid filter={filter} />
	</div>

	<Footer />
</Layout>
