<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			Andrei-Valentin Pavel
		</h2>
		<p><b><i>Interior Designer | Designer | Artistic Director</i></b></p>
	</header>
	<p>
		Our studio spaces are inspired by the beauty, essence, and culture of nature. We believe in the power of light, 
		the senses, and the ability to connect with places.
		<br /><br />
		Led by Andrei Valentin Pavel, our team brings a multidisciplinary approach to every project. 
		From renovations and extensions to custom furniture and objects, we create spaces that are not only visually 
		stunning but also foster a sense of connection and well-being.
	</p>
</section>
