---
import { Image } from "astro:assets"

import about_me from '../assets/fulls/ap6/01.jpg';
---

<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			Andrei-Valentin Pavel
		</h2>
		<p><b>Interior Designer | Designer | Artistic Director</b></p>
	</header>
	<p>
		Our studio spaces are inspired by the beauty, essence, and culture of nature. We believe in the power of light, 
		the senses, and the ability to connect with places.
		<br /><br />
		Led by Andrei Valentin Pavel, our team brings a multidisciplinary approach to every project. 
		From renovations and extensions to custom furniture and objects, we create spaces that are not only visually 
		stunning but also foster a sense of connection and well-being.
	</p>
	<article class="col-6 col-12-xsmall work-item">
		<a href={about_me.src} class="image fit thumb"><Image src={about_me} alt="" class="cover-fit" width="300" height="300" /></a>
		<h3>AP_9</h3>
	</article>
</section>
