<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			We are Mantra
		</h2>
	</header>
	<p>
		We're passionate about intelligent design and innovative space utilization to enhance urban living and enhance 
		well-being. Our mission is to offer a glimpse into this vision, providing inspiration for a better quality of life.
	</p>
	<ul class="actions">
		<li><a href="/about" class="button">Learn More</a></li>
	</ul>
</section>
