---
import { Image } from "astro:assets"
import avatar from '../assets/home.png';
import logo from '../assets/mntr.png';
---

<!-- Header -->
<header id="header">
	<div class="inner align-center">
		<a href="/" class="image avatar"><Image src={avatar} alt="" /></a><br />
		<Image src={logo} alt="mantra-logo" width="300" loading="lazy"/>
	</div>
</header>
