---
import { Image } from "astro:assets"
import avatar from '../assets/logo_small.png';
//import Navigation from './Navigation.astro';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/" class="image avatar"><Image src={avatar} alt="" /></a>
		<h1>
			<strong>We are Mantra</strong> a multidisciplinary interior architecture studio, 
			dedicated to creating exceptional spaces that inspire, transform, and elevate the human experience.
		</h1>
	</div>
</header>
