---
import { Image } from "astro:assets"
import avatar from '../assets/home.png';
import logo from '../assets/mntr.png';
---

<!-- Header -->
<header id="header">
	<div class="inner align-center">
		<a href="/" class="image avatar"><Image src={avatar} alt="" /></a>
	</div>
	<div class="inner align-center">
		<a href="/" class="avatar "><Image src={logo} alt="" width="300"/></a>
	</div>
</header>
