---
import { Astronav, MenuItems, MenuIcon, StickyHeader} from "astro-navbar";
import { Image } from "astro:assets"
import avatar from '../assets/logo_small.png';
---

<div>
  <Astronav>
    <div class="inner flex justify-between">
      <a><Image src={avatar} alt="" /></a>
      <MenuIcon class="w-4 h-4 text-gray-800" />
    </div>
    <!--
    // add `hidden` class by default for mobile
    // `lg:flex` is to make it visible in desktop
    // You may use custom CSS instead.
    -->
    <MenuItems class="hidden lg:flex">
      <ul style="list-style: none;">
       <li><a href="/">Home</a></li>
       <li><a href="/portfolio">Projects</a></li>
      </ul>
    </MenuItems>
  </Astronav>
</div>