---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PortfolioGrid from '../components/PortfolioGrid.astro';

const filter = Astro.url.searchParams.get('filter') ?? "All";
---

<Layout title="Portfolio">
  <Header />
  <h1>Portfolio</h1>
  <PortfolioGrid filter={filter} />
  <Footer />
</Layout>